<form [formGroup]="searchYelp" (ngSubmit)="onFetch()" style="text-align: center;">

  <label for="usersearch"></label>

  <select name="usersearch" formControlName="usersearch" id='usersearch' required>

    <option value='1'>$</option>
    <option value='2'>$$</option>
    <option value='3'>$$$</option>
    <option value='4'>$$$$</option>

  </select>

  <label for="userInput"></label>
  <input type="text" name="userInput" formControlName='userInput' id="userInput" required>

  <button [disabled] = "!useBtn"
  type="submit">
{{ useBtn === false ? 'Please hold' : 'Search' }}
</button>

</form>

<p style="text-align: center;">{{_yelps | json}}</p>